<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.iu.base.member.MemberDAO">
	
	<select id="getBirth" resultType="MemberVO">
		SELECT USERNAME FROM MEMBER
		WHERE DATE_FORMAT(birth, '%m-%d')=DATE_FORMAT(NOW(), '%m-%d') 
	</select>
	
	<update id="setEnabled">
	<![CDATA[  
		UPDATE MEMBER SET ENABLED = 0
		WHERE LASTTIME <= DATE_SUB(NOW(), INTERVAL 3 DAY)
	]]>
	</update>
	
	<update id="getMemberLogout" parameterType="MemberVO">
		UPDATE MEMBER SET LASTTIME = NOW() WHERE USERNAME=#{userName}  
	</update>
	
	<select id="allUserName" resultType="MemberVO">
		SELECT USERNAME FROM MEMBER		
	</select>
	
	<select id="idDuplicateCheck" parameterType="MemberVO" resultType="MemberVO">
		SELECT USERNAME FROM MEMBER WHERE USERNAME = #{userName}
	</select>

	<insert id="setMemberJoin" parameterType="MemberVO">
		INSERT INTO MEMBER(USERNAME, PASSWORD, NAME, EMAIL, BIRTH, ENABLED)
		VALUES(#{userName}, #{password}, #{name}, #{email}, #{birth}, #{enabled})
	</insert>
	
	<insert id="setMemberRoleAdd" parameterType="Map">
		INSERT INTO MEMBER_ROLE (USERNAME, NUM)
		VALUES(#{userName}, #{num})
	</insert>
	
	<select id="getMemberLogin" parameterType="MemberVO" resultMap="getLoginResult">
		SELECT M.USERNAME, M.EMAIL, R.NUM, R.ROLENAME
		FROM MEMBER M
			INNER JOIN
			MEMBER_ROLE MR
			ON(M.USERNAME = MR.USERNAME)
			INNER JOIN
			ROLE R
			ON(MR.NUM = R.NUM)
		WHERE M.USERNAME=#{userName} AND M.PASSWORD=#{password}
	</select>
	
	<resultMap type="MemberVO" id="getLoginResult">
		<id property="userName" column="USERNAME"/>
		<result property="email" column="EMAIL"/>
		<collection property="roleVOs" javaType="List" ofType="RoleVO">
			<id property="num" column="NUM"/>
			<result property="roleName" column="ROLENAME"/>
		</collection>
	</resultMap>
	


</mapper>